black==23.9.1
blinker==1.6.3
cfgv==3.4.0
click==8.1.7
distlib==0.3.7
filelock==3.12.4
flake8==6.1.0
Flask==3.0.0
identify==2.5.30
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
mccabe==0.7.0
mypy==1.6.0
mypy-extensions==1.0.0
nodeenv==1.8.0
numpy==1.26.0
packaging==23.2
pathspec==0.11.2
platformdirs==3.11.0
pre-commit==3.4.0
pycodestyle==2.11.0
pyflakes==3.1.0
PyYAML==6.0.1
result==0.13.1
scipy==1.11.3
typing_extensions==4.8.0
virtualenv==20.24.5
Werkzeug==3.0.0
