{% extends 'base.html' %}
{% block content %}
<div class="container p-5 mt-4 border border-dark">
    <h5>{{ distribution }} with X ~ ({{ trials + "," + probability }}):</h5>
    {% for row in rows %}
        <p>{{ row }}</p>
    {% endfor %}
    {% if distribution == "bcd" %}
        <h5>P(X <= {{ successes }}) = <u>{{ p_x_is_x }})</u></h5>
        <h5>P(X >= {{ successes }}) = <u>{{ 1 - p_x_is_x }})</u></h5>
    {% else %}
        <h5>P(X = {{ successes }}) = <u>{{ p_x_is_x }})</u></h5>
    {% endif %}
</div>
{% endblock %}