{% extends 'base.html' %}
{% block content %}
<div class="container p-5 mt-4 border border-dark">
    <h1>A level Statistics Calculator</h1>
    <h2>Normal Distributions</h2>
    <h3>Given X ~ N(μ,σ²)</h3>
     <form class="row g-3" action="/normal-form" method="POST">
       <select class="form-select" aria-label="Default select example" name="accuracy">
            <option selected>Accuracy in Decimal Places (Optional)</option>
            <option value="2dp">2dp</option>
            <option value="3dp">3dp</option>
            <option value="4dp">4dp</option>
            <option value="5dp">5dp</option>
            <option value="6dp">6dp</option>
        </select>
         <div class="input-group mb-3">
          <span class="input-group-text">μ</span>
          <input type="text" class="form-control" placeholder="mean (Use . only for decimal point)" name="mean">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">σ</span>
          <input type="text" class="form-control" placeholder="standard deviation (Use . only for decimal point)" name="sd">
        </div>
         <div class="bg bg-light">
             <p>Choose an operation (where ? indicates the value you are trying to find):</p>
        </div>
         <select class="form-select" aria-label="Default select example" name="operation">
            <option selected value="cdf_left">1. P(X <= x1) = ? | Normal cdf left region</option>
            <option value="cdf_right">2. P(X >= x1) = ? | Normal cdf right region</option>
            <option value="cdf_middle">3. P(x2 <= X <= x1) = ? | Normal cdf middle region</option>
            <option value="cdf_outside">4. P(X <= x2, X >= x1) = ? | Normal cdf outside region</option>
            <option value="ppf_left">5. Find x if probability P(X <= ?) is known. Inverse cdf left region.</option>
            <option value="ppf_right">6. Find x if probability P(X >= ?) is known. Inverse cdf right region.</option>
        </select>
        <div class="input-group mb-3">
          <span class="input-group-text">x1</span>
          <input type="text" class="form-control" placeholder="Required for option 1. 2. and 3." name="x_upper">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">x2</span>
          <input type="text" class="form-control" placeholder="Required for option 3." name="x_lower">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">p</span>
          <input type="text" class="form-control" placeholder="Where P(X <= ?) = p or (X >= ?) = p" name="prob">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-dark mb-3">Submit</button>
        </div>
    </form>
</div>
{% endblock %}