{% extends 'base.html' %}
{% block content %}
<div class="container p-5 mt-4 border border-dark">
    <h1>A level Statistics Calculator</h1>
    <h2>Normal Distributions</h2>
    <h5>X ~ N(μ,σ²)</h5>
     <form class="row g-3" action="/binomial-form" method="POST">
       <select class="form-select" aria-label="Default select example" name="accuracy">
            <option selected>Accuracy in Decimal Places (Optional)</option>
            <option value="2dp">2dp</option>
            <option value="3dp">3dp</option>
            <option value="4dp">4dp</option>
            <option value="5dp">5dp</option>
            <option value="6dp">6dp</option>
        </select>
         <select class="form-select" aria-label="Default select example" name="accuracy">
            <option selected value="norm">Normal Distribution (bcd)</option>
            <option value="ncd">Normal Cumulative Distribution</option>
        </select>
        <div class="input-group mb-3">
          <span class="input-group-text">μ</span>
          <input type="text" class="form-control" placeholder="mean" name="mean">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">σ</span>
          <input type="text" class="form-control" placeholder="standard, deviation" name="sd">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">x</span>
          <input type="text" class="form-control" placeholder="P(X < x)" name="successes">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-dark mb-3">Submit</button>
        </div>
    </form>
</div>
{% endblock %}