{% extends 'base.html' %}
{% block content %}
<div class="container p-5 mt-4 border border-dark">
    <h1>A level Statistics Calculator</h1>
    <h2>Measures of Spread</h2>
    <p>Data: {{ data }}</p>
    <div class="bg bg-success-subtle p-2 w-50">
        <p>Mean: <b>{{ measures.mean }}</b></p>
        <p>Standard Deviation: <b>{{ measures.sd }}</b></p>
        <p>Interquartile Range: <b>{{ measures.iqr }}</b></p>
        <p>Q1: <b>{{ measures.q1 }}</b></p>
        <p>Q3: <b>{{ measures.q3 }}</b></p>
    </div>
    <p>Results accurate to {{ dp }} decimal places</p>
    <div>
        <a href="{{ url_for('spread')}}" class="btn btn-outline-dark">Calculate more Spreads</a>
    </div>
</div>
{% endblock %}